    <footer id="nub-footer">
        
        <div class="container middle">
            
        </div> <!-- end of container middle -->

        <section id="social">
            <a href="https://www.facebook.com/codenubs" target="_blank"><i class="fa fa-4x fa-facebook-square"></i></a>
            <a href="https://twitter.com/codenubs" target="_blank"><i class="fa fa-4x fa-twitter-square"></i></a>
            <a href="https://github.com/codenubs" target="_blank"><i class="fa fa-4x fa-github-square"></i></a>
            <a href="https://plus.google.com/u/0/112438969058030032325" target="_blank"><i class="fa fa-4x fa-google-plus-square"></i></a>
        </section> <!-- end of social -->

        <section id="second-footer" class="middle clearfix">
            <section id="categories" class="left">
                <header>
                    <h5>Categories</h5>
                </header>
                <ul class='clearfix'>
                    {{ Blog::categories() }}
                </ul>
            </section> <!-- end of categories -->

            <section id="information" class="right">

                <header>
                    <h5>Informations</h5>
                </header>

                {{ Navigation::reborn('footer') }}
                
            </section> <!-- end of information -->
        </section> <!-- end of second-footer middle -->

        <section id="copyright">
            <p>All Rights Reserved. Copyright&copy; 2014</p>
        </section> <!-- end of copyright -->

    </footer> <!-- end of nub-footer -->

    {{ js('script.js') }}

</body>
</html>
