    <header id="nub-header">
        
        <div class="container middle clearfix">
            <div id="logo" class="left"><h1><a href="">Codenubs</a></h1></div>

            <div class="right">
                
                <nav class="nav left">
                    <li class='has-submenu'>
                        <a href="#">
                            Categories
                        </a>
                        <ul class="level-1">
                            {{ Blog::categories() }}
                        </ul> <!-- end of level-1 -->
                    </li> <!-- end of has-submenu -->
                    <li>
                        <a href="#">
                            About
                        </a>
                    </li>
                </nav> <!-- end of nav -->

                <div id="search" class="left"><i class="fa fa-2x fa-search"></i></div>

            </div> <!-- end of right -->
                
        </div> <!-- end of container -->

    </header> <!-- end of nub-header -->
