{{ include:meta }}

{{ include:header }}

    <div class="nub-body">
        
        <div class="container middle">

        </div> <!-- end of container middle -->

    </div> <!-- end of nub-body -->

            <div class="blog-container">
                
                <section class="featured-image">
                    <img src="assets/img/featured.jpg" alt="">
                </section> <!-- end of featured-image -->

                <section class="blog-body clearfix">
                    <aside class="blog-info left relative">
                        <div class="author absolute">
                            <img src="assets/img/author.jpg" alt="">
                        </div> <!-- end of author -->

                        <i class="fa fa-calendar"></i>
                        <a href="#">29 July, 2014</a> <br>
                        <i class="fa fa-folder-open"></i>
                        <a href="#">HTML / CSS</a>

                    </aside> <!-- end of blog-info -->
                    <article class="blogs right">
                        <header class="blog-header">
                            <h2><a href="#">This is the header of the code nub</a></h2>
                        </header> <!-- end of blog-header -->
                        <p class="blog-excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore in repudiandae quisquam soluta dolor tenetur reiciendis, cumque est. Qui vero in numquam fugiat voluptates velit? Obcaecati eum doloremque, atque dolores? ​မြန်မာလိုလည်း ပါတယ်ဟ အဲဒါကို မေ့မနေနဲ့ဦး။ ​မြန်မာလိုပါတာကို မေ့နေလို့ကတော့ ငါး​ပါးမက မှောက်ဖို့သာ​ ပြင်ထားပေတော့ နားလည်လား။
                        </p>
                    </article> <!-- end of blogs -->
                </section> <!-- end of blog-excerpt -->

            </div> <!-- end of blog-container -->

{{ include:footer }}
